<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card *ngFor="let task of tasks" color="tertiary">
      <ion-card-header>
        <ion-card-title>{{ task.task_name }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Inicio: {{ task.date_start }}</p>
        <p>Fin: {{ task.date_end }} </p> 
        <p>Estado: {{ task.status }} </p> 
      </ion-card-content>
    </ion-card>  



  </div>
</ion-content>
