<ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div clas="titulo">Categorias</div>

  <div style="text-align: center;">

    <ion-item fill="solid">
      <ion-label position="floating"> Categoria </ion-label>
      <ion-input [(ngModel)]="categoriaName"></ion-input>
    </ion-item>

    <ion-button (click)="addCategory()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Guardar
    </ion-button>

  </div>




</ion-content>
