<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/inbox"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ title }}</h1>
  <hr>

  <form>
    <ion-item>
      <ion-input [(ngModel)]="taskName" placeholder="Ingrese Nombre Tarea" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-select [(ngModel)]="categoryId" interface="popover" placeholder="Selecione Categoria" required>
        <ion-select-option *ngFor="let category of categories" value="{{ category.id }}"> {{ category.name }} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <p>Inicio: </p>
      <ion-datetime-button datetime="datetimeStart" required></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="dateStart" id="datetimeStart" [firstDayOfWeek]="1" 
          [showDefaultButtons]="true"
          doneText="OK"
          cancelText="Cancelar"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <p>Fin: </p>
      <ion-datetime-button datetime="datetimeEnd" required></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="dateEnd" id="datetimeEnd" [firstDayOfWeek]="1"
          [showDefaultButtons]="true"
          doneText="OK"
          cancelText="Cancelar"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item >
      <ion-select [(ngModel)]="status" interface="popover" placeholder="Selecione Estado" required>
        <ion-select-option value="pendiente"> Pendiente </ion-select-option>
        <ion-select-option value="hecho"> Hecho </ion-select-option>
      </ion-select>
    </ion-item>

  </form>

  <ion-button expand="block" class="btn-guardar" (click)="addTask()">Guardar Tarea</ion-button>
</ion-content>
